DATABASE_URL=postgres://user:password@neon.hostname/dbname
JWT_SECRET=your_super_secret_key
PORT=3000

BREVO_API_KEY=your_brevo_api_key
BREVO_SMTP_USER=your_brevo_login_email (optional if same as sender)
BREVO_SENDER_EMAIL=your_verified_sender_email
BREVO_SENDER_NAME=SketchF

